body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.game-area {
    display: flex;
    height: 550px;
    width: 900px;
    justify-content: space-around;
    border: 3px solid black;
}

.left-game-area, .right-game-area {
    display: flex;
    flex-direction: column;
}

.choice-display, .win-lose-display {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 50px;
    max-width: 100%;
}

.player-computer-score {
    margin-top: 120px;
    display: flex;
    gap: 40px;
}

.player-score, .computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-score-counter, .computer-score-counter {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}

.round-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 50px;
}

.rockButton, .paperButton, .scissorsButton {
    width: 150px;
    height: 150px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    border: 2px solid black;
    background: white;
}

button:hover {
    background: #eeeeee;
}

button:active {
    background: #aaaaaa;
}

.rps-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

